.SplashPage {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.Title {
  color: #009733;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
}
